<html>
    <head>
        <title><%= locals.title%></title>  <!--This is how we send data from ejs to js using <%= %>-->
    </head>
    <body>
        <h1> CONTACTS LIST</h1>

        <div>           <!-- <% %> for elements being used but neen not be printed --> 
            <ul>
            <%  for( let i of contact_list)    <!-- accessing variable assigned in render function -->            
                {                               %>
                    <li>
                        <h3><%= i.name %></h3>
                        <p><%= i.phone %></p>
                    </li>
            <%  }                               %>
            </ul>
        </div>

        <form action = "/create-contact" method="POST">
            <input type="text" name="name" placeholder="Enter Name">
            <input type="number" name="phone" placeholder="Enter Phone Number">
            <input type = "submit" value="Add Contact">
        </form>


    </body>
</html>